<!-- BEGIN MAIN CONTAINER -->
<div class="main-container">
  <!-- BEGIN NAV BAR -->
  <md-toolbar class="toolbar-container" color="primary">
    <!-- BEGIN MENU ICON -->
    <div>
      <button type="button" md-button (click)="sidenav.toggle()">
       <md-icon >menu</md-icon>
    </button>
    </div>
    <!-- END MENU ICON -->
    <!-- BEGIN MORE-VERT ICON -->
    <div class="warpper-right">
      <button md-button class="div-icon" [mdMenuTriggerFor]="menu">
      <md-icon >more_vert</md-icon>
   </button>
      <!-- BEGIN MENU-LIST -->
      <md-menu #menu="mdMenu">
        <!-- BEGIN NOTIFICATION ICON -->
        <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
        <!-- END NOTIFICATION ICON -->
      </button>
        <!-- END MENU-LIST -->
      </md-menu>
    </div>
    <!-- END MORE-VERT ICON -->
  </md-toolbar>
  <!-- END NAV BAR -->
  <!-- BEGIN SIDE NAV -->
  <md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="false">
      <!-- BEGIN EXAMPLE-SCROLLING-CONTENT -->
      <div class="example-scrolling-content">
        <header class="user-container">
          <!-- BEGIN AVATAR -->
          <div class="avatar-container">
            <img src="../assets/user.jpg" alt="Avatar" class="avatar">
          </div>
          <!-- END AVATAR -->
          <!-- BEGIN NAME-AVATAR-CONTAINER -->
          <div class="name-avatar-container">
            <p>Aya Stark</p>
          </div>
          <!-- END NAME-AVATAR-CONTAINER -->
          <!-- BEGIN DROPDOWN MENU -->
          <div class="user-dropdown-menu">
            <span>aya.stark@xenoptics.com</span>
            <div class="mdl-layout-spacer"></div>
            <button md-button class="div-icon" [mdMenuTriggerFor]="menudrop">
              <md-icon >arrow_drop_down</md-icon>
           </button>
            <md-menu #menudrop="mdMenu">
              <button md-menu-item>
                <md-icon>add</md-icon>
                <span>Add another account...</span>
              </button>
              <button md-menu-item>
                <md-icon>remove</md-icon>
                <span>Logout</span>
              </button>
            </md-menu>
          </div>
          <!-- END DROPDOWN MENU -->
        </header>
        <md-list>
          <!-- <h3 md-subheader>
            <md-icon>home</md-icon> XENO
          </h3> -->
          <a [routerLink]="[link.path]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let link of links">
            <md-list-item>
              <md-icon md-list-icon>{{ link.icon }}</md-icon>
              <h4 md-line>{{ link.name }}</h4>
            </md-list-item>
          </a>
        </md-list>
        <!-- BEGIN Horizontal Rules  -->
        <hr>
        <!-- END Horizontal Rules  -->
        <!-- BEGIN SETTINGS LABEL -->
        <div class="settings">
          <a>Settings</a>
        </div>
        <!-- END SETTINGS LABEL -->
        <!-- BEGIN DOCUMENT LABEL -->
        <div class="document">
          <a>Document</a>
        </div>
        <!-- END DOCUMENT LABEL -->
        <!-- BEGIN FOOTER-CONTAINER -->
        <div class="footer-container">
          <hr>
          <div class="text-center">
            <span>Help & Feedback</span>
          </div>
          <!-- END FOOTER-CONTAINER -->
        </div>
        <!-- END EXAMPLE-SCROLLING-CONTENT -->
      </div>
      <!-- END SIDE NAV -->
    </md-sidenav>
    <!-- BEGIN ROUTER-OUTLET -->
    <div class="example-scrolling-content">
      <router-outlet></router-outlet>
    </div>
    <!-- END ROUTER-OUTLET -->
  </md-sidenav-container>
  <!-- END SIDE NAV -->
</div>
<!-- END MAIN CONTAINER -->
