<!-- BEGIN MAIN CONTAINER -->
<div class="main-container">
  <!-- BEGIN SIDENAV-FAB-CONTAINER -->
  <md-sidenav-container class="sidenav-fab-container">
    <!-- BEGIN NAV BAR -->
    <md-toolbar class="toolbar-container" color="primary" *ngIf="showNavbar()">
      <!-- attr.disabled]="this.disable_stops_input == true ? false : null" -->
      <!-- BEGIN MENU ICON -->
      <div>
        <button id="menu-icon" type="button" md-button class="div-icon-menu" (click)="sidenav.toggle(); getUsername();">
          <md-icon>menu</md-icon>
        </button>
      </div>
      <!-- END MENU ICON -->
      <!-- BEGIN MORE-VERT ICON -->
      <div class="warpper-right">
        <button md-icon-button>
          <md-icon>mail</md-icon>
        </button>
        <button md-icon-button>
          <md-icon>notifications</md-icon>
        </button>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <!-- BEGIN MENU-LIST -->
        <md-menu #menu="mdMenu">
          <!-- BEGIN NOTIFICATION ICON -->
          <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
          </button>
          <!-- END NOTIFICATION ICON -->
          <!-- BEGIN CLEAR DATABASE ICON -->
          <button id="cleardatabase" md-menu-item (click)="clearDatabase()" [ngClass]="validate_user_role_hide_button()">
            <md-icon>delete</md-icon>
            <span>Clear database</span>
          </button>
          <!-- END CLEAR DATABASE ICON -->
          <!-- BEGIN CLEAR DATABASE ICON -->
          <button id="clearoperation" md-menu-item (click)="clear_latest_operation()" [ngClass]="validate_user_role_hide_button()">
            <md-icon>delete</md-icon>
            <span>Clear operation</span>
          </button>
          <!-- END CLEAR DATABASE ICON -->
        </md-menu>
        <!-- END MENU-LIST -->
      </div>
      <!-- END MORE-VERT ICON -->
    </md-toolbar>
    <!-- END NAV BAR -->

    <!-- OLD VERSION SIDENAV ! -->
    <!-- <md-sidenav #sidenav mode="side" opened="false"> -->

    <!-- NEW VERSION SIDENAV ! -->
    <!-- BEGIN SIDENAV -->
    <md-sidenav #sidenav opened="false">
      <!-- BEGIN SCROLLING-CONTENT -->
      <div class="scrolling-content">
        <!-- BEGIN USER-CONTAINER -->
        <header class="user-container">
          <!-- BEGIN AVATAR -->
          <div class="avatar-container">
            <img src="../assets/user.jpg" alt="Avatar" class="avatar">
          </div>
          <!-- END AVATAR -->
          <!-- BEGIN NAME-AVATAR-CONTAINER -->
          <div class="name-avatar-container">
            <p>{{ this.username }}</p>
          </div>
          <!-- END NAME-AVATAR-CONTAINER -->
          <!-- BEGIN USER-DROPDOWN-MENU -->
          <div class="user-dropdown-menu">
            <span>{{ this.username }}@xenoptics.com</span>
            <div class="mdl-layout-spacer"></div>
            <button md-button class="div-icon" [mdMenuTriggerFor]="menudrop">
              <md-icon>arrow_drop_down</md-icon>
            </button>
            <md-menu #menudrop="mdMenu">
              <button md-menu-item [ngClass]="validate_user_role_hide_button()">
                <md-icon>add</md-icon>
                <span>Add another account...</span>
              </button>
              <button md-menu-item (click)="logOut()">
                <md-icon>remove</md-icon>
                <span>Logout</span>
              </button>
            </md-menu>
          </div>
          <!-- END USER-DROPDOWN-MENU -->
        </header>
        <!-- END USER-CONTAINER -->
        <!-- BEGIN MENU -->
        <div class="menu-list-container">
          <div id="menu-open" class="menu">
            <div id="menu-drop-down" (click)="toggleMenu();" hidden>
              <a>Menu
                <button md-button class="div-icon">
                  <md-icon>arrow_drop_down</md-icon>
                </button>
              </a>
            </div>
            <div id="menu-drop-up" (click)="toggleMenu();">
              <a>Menu
                <button md-button class="div-icon">
                  <md-icon>arrow_drop_up</md-icon>
                </button>
              </a>
            </div>
          </div>
          <div id="menu-list" class="menu-container-height">
            <md-list>
              <!-- IF WANT TO ADD LOGO -->
              <!-- <h3 md-subheader><md-icon>home</md-icon> XENO</h3> -->
              <a [routerLink]="[link.path]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let link of links">
                <md-list-item>
                  <md-icon md-list-icon>{{ link.icon }}</md-icon>
                  <h4 md-line>{{ link.name }}</h4>
                </md-list-item>
              </a>
            </md-list>
          </div>
        </div>
        <!-- END MENU -->
        <!-- BEGIN SETTINGS -->
        <div class="menu-list-container">
          <div id="settings-open" class="settings">
            <div id="settings-drop-down" (click)="toggleSettings();">
              <a>Settings
                <button md-button class="div-icon">
                  <md-icon>arrow_drop_down</md-icon>
                </button>
              </a>
            </div>
            <div id="settings-drop-up" (click)="toggleSettings();" hidden>
              <a>Settings
                <button md-button class="div-icon">
                  <md-icon>arrow_drop_up</md-icon>
                </button>
              </a>
            </div>
          </div>
          <div id="settings-list" class="settings-container-height" hidden>
            <md-list>
              <a [routerLink]="[link.path]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let link of settinglinks">
                <md-list-item>
                  <md-icon md-list-icon>{{ link.icon }}</md-icon>
                  <h4 md-line>{{ link.name }}</h4>
                </md-list-item>
              </a>
            </md-list>
          </div>
        </div>
        <!-- END SETTINGS -->
        <!-- BEGIN DOCUMENT LABEL -->
        <div class="menu-list-container">
          <div id="documents-open" class="document">
            <div id="documents-drop-down" (click)="toggleDocument();">
              <a>Document
                <button md-button class="div-icon">
                  <md-icon>arrow_drop_down</md-icon>
                </button>
              </a>
            </div>
            <div id="documents-drop-up" (click)="toggleDocument();" hidden>
              <a>Document
                <button md-button class="div-icon">
                  <md-icon>arrow_drop_up</md-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
        <!-- END DOCUMENT LABEL -->
        <!-- BEGIN FOOTER-CONTAINER -->
        <!-- <div class="footer-container"> -->
        <!-- <hr> -->
        <!-- <div class="text-center">
            <span>Help & Feedback</span>
          </div>
        </div> -->
        <!-- END FOOTER-CONTAINER -->
      </div>
      <!-- END SCROLLING-CONTENT -->
    </md-sidenav>
    <!-- END SIDENAV -->
    <!-- BEGIN ROUTER-OUTLET -->
    <router-outlet></router-outlet>
    <!-- END ROUTER-OUTLET -->
  </md-sidenav-container>
  <!-- END SIDE NAV -->
</div>
<!-- END MAIN CONTAINER -->