*.pyc
__pycache__

# virtualenv name
env
ENV

# django
migrations
# static
*.idea

# vscode
.vscode
*.swn
*.swo
*.swp

# node
node_modules

# log
*.log
*.log.[0-9]
*.log.[0-9][0-9]
*.log.[0-9][0-9][0-9]