<!-- BEGIN HEADER-CONTAINER -->
<div class="header-container" align="center">
  <!-- BEGIN CONTAINER-CONTENT -->
  <div class="container-content" align="center">
    <!-- BEGIN SUB-CONTAINER-CONTENT -->
    <div class="sub-container-content">
      <!-- BEGIN FLEX-ITEM-CONTAINER -->
      <div class="flex-item-container">
        <!-- BEGIN TEMPERATURE-CONTAINER -->
        <div class="temperature-container">
          <!-- BEGIN FLEX-ITEM-1 -->
          <div class="flex-item-1">
            <!-- BEGIN CONTENT-1 -->
            <div class="content-1">
              <span>26 °C</span>
              <p>78.8 °F</p>
            </div>
            <!-- END CONTENT-1 -->
            <!-- BEGIN CONTENT-2 -->
            <div class="content-2">
              <span>Temperature</span>
            </div>
            <!-- END CONTENT-2 -->
          </div>
          <!-- END FLEX-ITEM-1 -->
          <!-- BEGIN FLEX-ITEM-2 -->
          <div class="flex-item-2">
            <img src="../assets/temp-icon.png" alt="Temperature-icon">
          </div>
          <!-- END FLEX-ITEM-2 -->
        </div>
        <!-- END TEMPERATURE-CONTAINER -->
      </div>
      <!-- END FLEX-ITEM-CONTAINER -->
    </div>
    <!-- END SUB-CONTAINER-CONTENT -->
    <!-- BEGIN SUB-CONTAINER-CONTENT -->
    <div class="sub-container-content">
      <!-- BEGIN FLEX-ITEM-CONTAINER -->
      <div class="flex-item-container">
        <!-- BEGIN HUMIDITY-CONTAINER -->
        <div class="humidity-container">
          <!-- BEGIN FLEX-ITEM-1 -->
          <div class="flex-item-1">
            <!-- BEGIN CONTENT-1 -->
            <div class="content-1">
              <span>50%</span>
            </div>
            <!-- END CONTENT-1 -->
            <!-- BEGIN CONTENT-2 -->
            <div class="content-2">
              <span>Humidity</span>
            </div>
            <!-- END CONTENT-2 -->
          </div>
          <!-- END FLEX-ITEM-1 -->
          <!-- BEGIN FLEX-ITEM-2 -->
          <div class="flex-item-2">
            <img src="../assets/humidity-icon.png" alt="Temperature-icon">
          </div>
          <!-- END FLEX-ITEM-2 -->
        </div>
        <!-- END HUMIDITY-CONTAINER -->
      </div>
      <!-- END FLEX-ITEM-CONTAINER -->
    </div>
    <!-- END SUB-CONTAINER-CONTENT -->
    <!-- BEGIN SUB-CONTAINER-CONTENT -->
    <div class="sub-container-content">
      <!-- BEGIN FLEX-ITEM-CONTAINER -->
      <div class="flex-item-container">
        <!-- BEGIN ORDER-CONTAINER -->
        <div class="order-container">
          <!-- BEGIN FLEX-ITEM-1 -->
          <div class="flex-item-1">
            <!-- BEGIN-CONTENT-1 -->
            <div class="content-1">
              <span>65%</span>
            </div>
            <!-- END CONTENT-1 -->
            <!-- BEGIN-CONTENT-2 -->
            <div class="content-2">
              <span>Orders Completed</span>
            </div>
            <!-- END-CONTENT-2 -->
          </div>
          <!-- END FLEX-ITEM-1 -->
          <!-- BEGIN FLEX-ITEM-2 -->
          <div class="flex-item-2">
            <img src="../assets/oder-icon2.png" alt="Temperature-icon">
          </div>
          <!-- END FLEX-ITEM-2 -->
        </div>
        <!-- END ORDER-CONTAINER -->
      </div>
      <!-- END FLEX-ITEM-CONTAINER -->
    </div>
    <!-- END SUB-CONTAINER-CONTENT -->
    <!-- BEGIN SUB-CONTAINER-CONTENT -->
    <div class="sub-container-content">
      <!-- BEGIN FLEX-ITEM-CONTAINER -->
      <div class="flex-item-container">
        <!-- BEGIN TIME-CONTAINER -->
        <div class="time-container">
          <!-- BEGIN FLEX-ITEM-1 -->
          <div class="flex-item-1">
            <!-- BEGIN CONTENT-1 -->
            <div class="content-1">
              <span>54 sec.</span>
            </div>
            <!-- END CONTENT-1 -->
            <!-- BEGIN CONTENT-2 -->
            <div class="content-2">
              <span>Avg times</span>
            </div>
            <!-- END CONTENT-2 -->
          </div>
          <!-- END FLEX-ITEM-1 -->
          <!-- BEGIN FLEX-ITEM-2 -->
          <div class="flex-item-2">
            <img src="../assets/timer-icon.png" alt="Temperature-icon">
          </div>
          <!-- END FLEX-ITEM-2 -->
        </div>
        <!-- END TIME-CONTAINER -->
      </div>
      <!-- END FLEX-ITEM-CONTAINER -->
    </div>
    <!-- END SUB-CONTAINER-CONTENT -->
  </div>
  <!-- END CONTAINER-CONTENT -->
</div>
<!-- END CONTAINER-CONTENT -->
</div>
<!-- END HEADER-CONTAINER -->

<!-- BEGIN TABLE -->
<!-- BEGIN SECTION GROUP -->
<div class="section group">
  <!-- BEGIN COL SPAN_1_OF_2 -->
  <div class="col span_1_of_2">
    <!-- EAST TABLE -->
    <!-- BEGIN TABLE-CONTAINER-1 -->
    <table class="table-container-1" align="center">
      <tbody>
        <tr class="tr-style" *ngFor="let row of eportschunk">
          <td id="{{ column }}" class="East td-style" [ngClass]="[isSelectEast(column)]" (click)="setEastID(column)" *ngFor="let column of row">
            <span id="T{{ column }}" [mdTooltip]="tooltipEast(column)" mdTooltipPosition="above">
              <span [mdTooltip]="pushEastNote(column)" [mdTooltipPosition]="etooltipPostion(column)">{{ column }}</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- END TABLE-CONTAINER-1 -->
  </div>
  <!-- END COL SPAN_1_OF_2 -->
  <!-- BEGIN COL SPAN_1_OF_2 -->
  <div class="col span_1_of_2">
    <!-- WEST TABLE -->
    <!-- BEGIN TABLE-CONTAINER-2 -->
    <table class="table-container-2" align="center">
      <tbody>
        <tr class="tr-style" *ngFor="let row of wportschunk">
          <td id="{{ column }}" class="West td-style" [ngClass]="[isSelectWest(column)]" (click)="setWestID(column)" *ngFor="let column of row">
            <span id="T{{ column }}" [mdTooltip]="tooltipWest(column)" mdTooltipPosition="above">
              <span [mdTooltip]="pushWestNote(column)" [mdTooltipPosition]="wtooltipPostion(column)">{{ column }}</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- BEGIN TABLE-CONTAINER-2 -->
  </div>
  <!-- END COL SPAN_1_OF_2 -->
</div>
<!-- END SECTION GROUP -->
<!-- END TABLE -->

<!-- BEGIN FOOTER -->
<div class="footer-container">
  <!-- BEGIN FLEX-CONTAINER-1 -->
  <div class="flex-container-1">
    <!-- BEGIN FLEX-ITEM-1 -->
    <div class="flex-item-1" align="center">
      <!-- BEGIN ITEM-1 -->
      <div class="item-1"></div>
      <!-- END ITEM-1 -->
    </div>
    <!-- END FLEX-ITEM-1 -->
  </div>
  <!-- END FLEX-CONTAINER-1 -->
  <!-- BEGIN FLEX-CONTAINER-2 -->
  <div class="flex-container-2">
    <!-- BEGIN FLEX-ITEM-1 -->
    <div class="flex-item-1" align="center">
      <!-- BEGIN ITEM-1 -->
      <div class="item-1">
        <!-- BEGIN ITEM-1-CONTAINER-SHADOW -->
        <div class="item-1-container-shadow">
          <!-- BEGIN BUTTON-CONTAINER -->
          <div class="button-container">
            <!-- BEGIN BUTTON-CONTAINER-ITEM-1 -->
            <div class="button-container-item-1">
              <!-- BEGIN TOOLTIP -->
              <div class="tooltip">
                <!-- BEGIN BREAK-BUTTON-CIRCLE BLINK -->
                <div class="break-button-circle Blink"></div>
                <!-- END BREAK-BUTTON-CIRCLE BLINK -->
                <!-- BEGIN TOOLTIPTEXT -->
                <span class="tooltiptext">Hint! debug button will available in debug mode.</span>
                <!-- END TOOLTIPTEXT -->
              </div>
              <!-- END TOOLTIP -->
            </div>
            <!-- END BUTTON-CONTAINER-ITEM-1 -->
            <!-- BEGIN BUTTON-CONTAINER-ITEM-2 -->
            <div class="button-container-item-2">
              <!-- BEGIN CONTINUE BUTTON -->
              <button md-raised-button id="Continue" class="button-width" (click)="postDebug()" color="primary" disabled>Continue</button>
              <!-- END CONTINUE BUTTON -->
            </div>
            <!-- END BUTTON-CONTAINER-ITEM-2 -->
          </div>
          <!-- END BUTTON-CONTAINER -->
          <!-- BEGIN BUTTON-CONTAINER -->
          <div class="button-container">
            <!-- BEGIN BUTTON-CONTAINER-ITEM-1 -->
            <div class="button-container-item-1">
              <!-- BEGIN TOOLTIP -->
              <div class="tooltip">
                <!-- BEGIN CONNECT-BUTTON-CIRCLE BLINK -->
                <div class="connect-button-circle Blink"></div>
                <!-- END CONNECT-BUTTON-CIRCLE BLINK -->
                <!-- BEGIN TOOLTIPTEXT -->
                <span class="tooltiptext">Hint! connect button will available when select two side available ports.</span>
                <!-- END TOOLTIPTEXT -->
              </div>
              <!-- END TOOLTIP -->
            </div>
            <!-- END BUTTON-CONTAINER-ITEM-1 -->
            <!-- BEGIN BUTTON-CONTAINER-ITEM-2 -->
            <div class="button-container-item-2">
              <!-- BEGIN CONNECT BUTTON -->
              <button md-raised-button id="Connect" class="button-width" (click)="postConnection()" color="primary" disabled>Connect</button>
              <!-- END CONNECT BUTTON -->
            </div>
            <!-- END BUTTON-CONTAINER-ITEM-2 -->
          </div>
          <!-- END BUTTON-CONTAINER -->
          <!-- BEGIN BUTTON-CONTAINER -->
          <div class="button-container">
            <!-- BEGIN BUTTON-CONTAINER-ITEM-1 -->
            <div class="button-container-item-1">
              <!-- BEGIN TOOLTIP -->
              <div class="tooltip">
                <!-- BEGIN DISCONNECT-BUTTON-CIRCLE BLINK -->
                <div class="disconnect-button-circle Blink"></div>
                <!-- END DISCONNECT-BUTTON-CIRCLE BLINK -->
                <!-- BEGIN TOOLTIPTEXT -->
                <span class="tooltiptext">Hint! disconnect button will available when select correct pair of connected ports.</span>
                <!-- END TOOLTIPTEXT -->
              </div>
              <!-- END TOOLTIP -->
            </div>
            <!-- END BUTTON-CONTAINER-ITEM-1 -->
            <!-- BEGIN BUTTON-CONTAINER-ITEM-2 -->
            <div class="button-container-item-2">
              <!-- BEGIN DISCONNECT BUTTON -->
              <button md-raised-button id="Disconnect" class="button-width" (click)="postDisconnection()" color="primary" disabled>Disconnect</button>
              <!-- END DISCONNECT BUTTON -->
            </div>
            <!-- END BUTTON-CONTAINER-ITEM-2 -->
          </div>
          <!-- END BUTTON-CONTAINER -->
        </div>
        <!-- END ITEM-1-CONTAINER-SHADOW -->
      </div>
      <!-- END ITEM-1 -->
      <!-- BEGIN ITEM-2 -->
      <div class="item-2">
        <!-- BEGIN SUB-ITEM -->
        <div class="sub-item" align="center">
          <!-- BEGIN INPUT-CONTAINER -->
          <div id="input-container" class="align-center" hidden>
            <!-- BEGIN INPUT DIV -->
            <div style="transform: translateY(-20%);">
              <!-- BEGIN STOP INPUT -->
              <md-input-container>
                <input mdInput id="stops" placeholder="Stops :" value="stops" [(ngModel)]="stops" [ngClass]="clearValue(stops)" pattern="[0-9,]{1,20}"
                  hidden>
              </md-input-container>
              <!-- END STOP INPUT -->
              <!-- BEGIN SEQUENCE INPUT -->
              <md-input-container>
                <input mdInput id="sequence" placeholder="Sequence :" value="sequence" [(ngModel)]="sequence" hidden>
              </md-input-container>
              <!-- END SEQUENCE INPUT -->
            </div>
            <!-- END INPUT DIV -->
          </div>
          <!-- END INPUT CONTAINER -->
        </div>
        <!-- END SUB-ITEM -->
      </div>
      <!-- END ITEM-2 -->
    </div>
    <!-- END FLEX-ITEM-1 -->
    <!-- BEGIN FLEX-ITEM-2 -->
    <div class="flex-item-2">
      <!-- BEGIN ITEM-1 -->
      <div class="item-1" align="center">
        <!-- BEGIN ITEM-1-CONTAINER-SHADOW -->
        <div class="item-1-container-shadow">
          <md-chip-list>
            <!-- BEGIN TOOLTIP -->
            <div class="tooltip">
              <!-- BEGIN DETAIL-CONTAINER -->
              <div class="detail-container" style="display: inline-flex;">
                <!-- BEGIN DETAIL-CONTAINER-CONNECTED-ITEM-1 -->
                <div class="detail-container-connected-item-1">
                  <!-- BEGIN CONNECTED-CIRCLE BLINK -->
                  <div class="connected-circle Blink"></div>
                  <!-- END CONNECTED-CIRCLE BLINK -->
                </div>
                <!-- END DETAIL-CONTAINER-CONNECTED-ITEM-1 -->
                <!-- BEGIN DETAIL-CONTAINER-CONNECTED-ITEM-2 -->
                <div class="detail-container-connected-item-2">
                  <p>Connected</p>
                </div>
                <!-- END DETAIL-CONTAINER-CONNECTED-ITEM-2 -->
              </div>
              <!-- END DETAIL-CONTAINER -->
              <!-- BEGIN TOOLTIPTEXT -->
              <span class="tooltiptext">Green color means the port that connected.</span>
              <!-- END TOOLTIPTEXT -->
            </div>
            <!-- END TOOLTIP -->
            <!-- BEGIN TOOLTIP -->
            <div class="tooltip">
              <!-- BEGIN DETAIL-CONTAINER -->
              <div class="detail-container" style="display: inline-flex;">
                <!-- BEGIN DETAIL-CONTAINER-BREAK-ITEM-1 -->
                <div class="detail-container-break-item-1">
                  <!-- BEGIN BREAK-CIRCLE BLINK -->
                  <div class="break-circle Blink"></div>
                  <!-- END BREAK-CIRCLE BLINK -->
                </div>
                <!-- END DETAIL-CONTAINER-BREAK-ITEM-1 -->
                <!-- BEGIN DETAIL-CONTAINER-BREAK-ITEM-2 -->
                <div class="detail-container-break-item-2">
                  <p>Break</p>
                </div>
                <!-- END DETAIL-CONTAINER-BREAK-ITEM-2 -->
              </div>
              <!-- END DETAIL-CONTAINER -->
              <span class="tooltiptext">Yellow color means the port that stop in current sequence.</span>
            </div>
            <!-- END TOOLTIP -->
            <!-- BEGIN TOOLTIP -->
            <div class="tooltip">
              <!-- BEGIN DETAIL-CONTAINER -->
              <div class="detail-container" style="display: inline-flex;">
                <!-- BEGIN DETAIL-CONTAINER-PENDING-ITEM-1 -->
                <div class="detail-container-pending-item-1">
                  <!-- BEGIN PENDING-CIRCLE BLINK -->
                  <div class="pending-circle Blink"></div>
                  <!-- END PENDING-CIRCLE BLINK -->
                </div>
                <!-- END DETAIL-CONTAINER-PENDING-ITEM-1 -->
                <!-- BEGIN DETAIL-CONTAINER-PENDING-ITEM-2 -->
                <div class="detail-container-pending-item-2">
                  <p>Pending</p>
                </div>
                <!-- END DETAIL-CONTAINER-PENDING-ITEM-2 -->
              </div>
              <!-- END DETAIL-CONTAINER -->
              <!-- BEGIN TOOLTIPTEXT -->
              <span class="tooltiptext">Red color means the port that processing or pending.</span>
              <!-- END TOOLTIPTEXT -->
            </div>
            <!-- END TOOLTIP -->
            <!-- BEGIN TOOLTIP -->
            <div class="tooltip">
              <!-- BEGIN DETAIL-CONTAINER -->
              <div class="detail-container" style="display: inline-flex;">
                <!-- BEGIN DETAIL-CONTAINER-PAIR-ITEM-1 -->
                <div class="detail-container-pair-item-1">
                  <!-- BEGIN PAIR-CIRCLE BLINK -->
                  <div class="pair-circle Blink"></div>
                  <!-- END PAIR-CIRCLE BLINK -->
                </div>
                <!-- END DETAIL-CONTAINER-PAIR-ITEM-1 -->
                <!-- BEGIN DETAIL-CONTAINER-PAIR-ITEM-2 -->
                <div class="detail-container-pair-item-2">
                  <p>Pair</p>
                </div>
                <!-- END DETAIL-CONTAINER-PAIR-ITEM-2 -->
              </div>
              <!-- END DETAIL-CONTAINER -->
              <!-- BEGIN TOOLTIPTEXT -->
              <span class="tooltiptext">Show pairs of ports.</span>
              <!-- END TOOLTIPTEXT -->
            </div>
            <!-- END TOOLTIP -->
            <!-- BEGIN TOOLTIP -->
            <div class="tooltip">
              <!-- BEGIN DETAIL-CONTAINER -->
              <div class="detail-container" style="display: inline-flex;">
                <!-- BEGIN DETAIL-CONTAINER-SELECTED-ITEM-1 -->
                <div class="detail-container-selected-item-1">
                  <!-- BEGIN SELECTED-CIRCLE BLINK -->
                  <div class="selected-circle Blink"></div>
                  <!-- END SELECTED-CIRCLE BLINK -->
                </div>
                <!-- END DETAIL-CONTAINER-SELECTED-ITEM-1 -->
                <!-- BEGIN DETAIL-CONTAINER-SELECTED-ITEM-2 -->
                <div class="detail-container-selected-item-2">
                  <p>Selected</p>
                </div>
                <!-- END DETAIL-CONTAINER-SELECTED-ITEM-2 -->
              </div>
              <!-- END DETAIL-CONTAINER -->
              <!-- BEGIN TOOLTIPTEXT -->
              <span class="tooltiptext">Show current selected ports.</span>
              <!-- END TOOLTIPTEXT -->
            </div>
            <!-- END TOOLTIP -->
          </md-chip-list>
        </div>
        <!-- END ITEM-1-CONTAINER-SHADOW -->
      </div>
      <!-- END ITEM-1 -->
    </div>
    <!-- END FLEX-ITEM-2 -->
  </div>
  <!-- END FLEX-CONTAINER-2 -->
  <!-- BEGIN FLEX-CONTAINER-3 -->
  <div class="flex-container-3">
    <!-- BEGIN FLEX-ITEM-1 -->
    <div class="flex-item-1" align="center">
      <!-- BEGIN FLEX-ITEM-1-CONTAINER-SHADOW -->
      <div class="flex-item-1-container-shadow">
        <!-- BEGIN DEBUG MODE TOGGLE BUTTON -->
        <md-slide-toggle id="toggleDebugButton" class="bt-margin-left" (click)="toggleDebugMode()">Debug Mode</md-slide-toggle>
        <!-- END DEBUG MODE TOGGLE BUTTON -->
      </div>
      <!-- END FLEX-ITEM-1-CONTAINER-SHADOW -->
    </div>
    <!-- END FLEX-ITEM-1 -->
  </div>
  <!-- END FLEX-CONTAINER-3 -->
</div>
<!-- END FOOTER -->
