<!-- BEGIN MAIN-CONTAINER -->
<div class="main-container">
  
    <!-- BEGIN CONTAINER -->
    <div class="container">
      <p>
        500. INTERNAL SERVER ERROR
      </p>
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN CONTAINER-BUTTON -->
    <div class="container-button">
      <p>
        A session may expire, you have to log out.
      </p>
      <button md-raised-button (click)="logOut()">
        Log out
      </button>
    </div>
    <!-- END CONTAINER-BUTTON -->

  </div>
  <!-- END MAIN-CONTAINER -->