<div class="warpper">
    <div class="login-container">
      <div class="flex-one">
        <div class="company-name">XENOPTICS COMPANY</div>
      </div>
      <div class="flex-two">
        <div class="container">
          <div class="column-one">
            <div class="row-one">
              <div class="text">Username</div>
            </div>
            <div class="row-two">
              <md-form-field>
                <input mdInput placeholder="Enter username" type="text" class="form-control" name="username" [(ngModel)]="model.username"
                  #username="ngModel" />
              </md-form-field>
            </div>
          </div>
          <div class="column-two">
            <div class="row-one">
              <div class="text">Password</div>
            </div>
            <div class="row-two">
              <md-form-field>
                <input mdInput placeholder="Enter password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                  (keyup)="catchEnter($event)" />
              </md-form-field>
            </div>
          </div>
          <div class="column-three">
            <div class="row-one"></div>
            <div class="row-two"></div>
          </div>
          <div class="column-four">
            <div class="row-one"></div>
            <div class="row-two">
              <div class="login-button-container">
                <button md-raised-button id="login-button" class="button-style" color="primary" (click)="login()" [attr.disabled]="validateLoginButton() === false ? true : null"
                  disabled>Log In</button>
              </div>
              <div class="error-dialog-container">
                  <md-card id="error" class="hide">
                      <p>{{ this.error_message }}</p>
                    </md-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>