<!DOCTYPE html>
<html lang="en">

<head>
  <title>Alarm History - XENOPTICS</title>
  <meta charset="utf-8" /> {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Icon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'personal/icon/icon.png' %}" />
  <!-- Alarm CSS -->
  <link rel="stylesheet" href="{% static 'personal/css/alarm.css' %}" type="text/css" />
  <!-- Boostrap CSS -->
  <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'personal/css/bootstrap-theme.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'personal/css/dataTables.bootstrap.min.css' %}" type="text/css" />
  <!-- Jquery -->
  <script src="{% static 'personal/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'personal/js/bootstrap.min.js' %}" type="text/javascript"></script>
</head>
<!-- Header -->

<body>
  <header class="header-line"></header>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav pull-right">
        <li class="navbar-text">
          <div>User {{ user }} <a href="{% url 'logout' %}?next={{ '/' }}">log out</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="jumbotron" align="center">
      <div class="container-fluid">
        <div class="col-sm-6">
          <h1>Alarm History</h1>
        </div>
        <div class="col-sm-6">
          <img src="{% static 'personal/img/logo.jpg' %}" style='max-height:150px;' alt="XENOPTICS_Logo">
        </div>
      </div>
    </div>
    <hr>
    <!-- End Header -->
    <!-- Filter -->
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="input-group">
            <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="test">
              <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu" id="uItem">
                <li value="0"><a href="#contains">Alarm</a></li>
                <li value="1"><a href="#contains">Detail</a></li>
                <li value="2"><a href="#contains">Time</a></li>
                <li value="3"><a href="#its_equal">Severity</a></li>
              </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" id="myInput" onkeyup="searchTable()" class="form-control" name="x" placeholder="Search term...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Filter -->
    <br>
    <!-- Table -->
    <div class="container-fluid">
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>Alarm</th>
            <th>Detail</th>
            <th>Time</th>
            <th>Sererity</th>
          </tr>
        </thead>
        <tbody id="records">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End Body -->
    <!-- Footer -->
    <footer class="container-fluid">
      <div class="col-sm-12" align="center">
        <a href="/3" class="btn btn-primary responsive-width">Save</a>
        <a href="/alarm" class="btn btn-primary responsive-width">Back</a>
      </div>
    </footer>
    <br>
    <!-- End Footer-->
    <!-- Script -->
    <script src="{% static 'personal/js/alarm_history.js' %}" type="text/javascript"></script>
    <script src="{% static 'personal/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'personal/js/dataTables.bootstrap.min.js' %}" type="text/javascript"></script>
    <!-- End Script -->
</body>

</html>