<!DOCTYPE html>
<html lang="en">

<head>
    <title>Port Connection - XENOPTICS</title>
    <meta charset="utf-8" /> {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'personal/icon/icon.png' %}" />
    <!-- Portconnection CSS -->
    <link rel="stylesheet" href="{% static 'personal/css/portconnection.css' %}" type="text/css">
    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap-theme.min.css' %}" type="text/css">
    <!-- Jquery -->
    <script src="{% static 'personal/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'personal/js/bootstrap.min.js' %}" type="text/javascript"></script>

</head>
<style>
    h1 {
        font-family: 'Open Sans', sans-serif;
    }
</style>
<!-- Header -->

<body>
    <header class="header-line"></header>
    <div class="navbar navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav pull-right">
                <li class="navbar-text">
                    <div>User {{ user }} <a href="{% url 'logout' %}?next={{ '/' }}">log out</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid text-center">
            <div class="col-sm-6">
                <h1>Port connection</h1>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'personal/img/logo.jpg' %}" style='max-height:150px;' alt="XENOPTICS_Logo">
            </div>
        </div>
    </div>
    <hr>
    <!-- End Header -->
    <!-- Body -->
    <div class="container-fluid text-center">
        <div class="col-sm-6">
            <h1>East port</h1>
            <br>
            <div class="responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            {% block content %} {% for port in data %} {% if port.direction == 'E' %}
                            <td id="E{{ port.number }}" class="East">
                                <div data-toggle="tooltip" data-placement="right" title="{{ port.note }}">
                                    <div id="TE{{ port.number }}" data-toggle="tooltip" data-placement="top" title="Port {{ port.number }}">
                                        {{ port.number }}
                                    </div>
                                </div>
                            </td>
                            {% if forloop.counter|divisibleby:12 %}
                        </tr>
                        {% endif %} {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <h1>West port</h1>
            <br>
            <div class="responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            {% for port in data %} {% if port.direction == 'W' %}
                            <td id="W{{ port.number }}" class="West">
                                <div data-toggle="tooltip" data-placement="left" title="{{ port.note }}">
                                    <div id="TW{{ port.number }}" data-toggle="tooltip" data-placement="top" title="Port {{ port.number }}">
                                        {{ port.number }}
                                    </div>
                                </div>
                            </td>
                            {% if forloop.counter|divisibleby:12 %}
                        </tr>
                        {% endif %} {% endif %} {% endfor %} {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Body -->
    <!-- Footer -->
    <footer class="container-fluid text-center">
        <div class="col-sm-12">
            <button type="button" class="ghost-button-avaliable responsive-width">Connection</button>
            <button type="button" class="ghost-button-pair responsive-width">Show Pair</button>
            <button type="button" class="ghost-button-selected responsive-width">Selected</button>
        </div>
    </footer>
    <footer class="container-fluid text-center">
        <div class="col-sm-12">
            {% if request.user.is_superuser or request.user.is_staff %}
            <button id="Connect" class="btn btn-primary responsive-width" disabled>Connect</button>
            <button id="Disconnect" class="btn btn-primary responsive-width" disabled>Disconnect</button> {% endif %}
            <a href="/" class="btn btn-primary responsive-width">Back</a>
        </div>
    </footer>
    <!-- End Footer -->
    <br>
    <!-- Pop Up-->
    <div class="container" align="center">
        <div id="pbarmain" style="display: none" class="progress progress-striped active">
            <div id="pbar" class="progress-bar"></div>
        </div>
        <button type="button" onClick="makeProgress()" class="btn btn-default">Upload</button>
        <button type="button" id="reset" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <!-- End Pop Up-->
    <br>
    <!-- Script -->
    <script src="{% static 'personal/js/portconnection.js' %}" type="text/javascript"></script>
    <!-- End Script -->
</body>

</html>