body {
height:100%
}

br {
margin:1.5em 0;  /* FF for instance */
line-height:2.5em; /* chrome for instance */
}

img {
margin-top: -15px;
max-width: 100%;
height: auto;
}

.wrapper {
text-align: center;
}

.li {
position: absolute;
top: 50%;
}

.btn-primary {
 padding: 15px 48px !important;
 font-size: 16px !important;
 font-weight: bold !important;
}

.divbutton {
float: right;
margin-right: 10px;
}

.responsive-width {
font-size: 0.8vw;
margin-right: 10px;
margin-top: 10px;
}

.jumbotron {
    background-color: #fff !important;
}

.header-line {
    border-top: 3px solid #f42424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1090px;
    z-index: 1050;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    box-sizing: border-box;
}

