br {
margin:1.5em 0;/* FF for instance */
line-height:2.5em;/* chrome for instance */
}

img {
margin-top: -15px;
max-width: 100%;
height: auto;
}

td {
cursor: default;
}

.ghost-button-avaliable:hover {
cursor:default !important;
}

.ghost-button-avaliable:focus {
outline: none;
}

.ghost-button-unavaliable:hover {
cursor:default !important;
}

.ghost-button-unavaliable:focus {
outline: none;
}

.ghost-button-selected:hover {
cursor:default !important;
}

.ghost-button-selected:focus {
outline: none;
}

.ghost-button-pair:hover {
cursor:default !important;
}

.ghost-button-pair:focus {
outline: none;
}

.ghost-button-unavaliable {
 color: #fff;
 text-shadow: 0 0.5px 0 #555555;
 background: #d9534f;
 border: 1px solid #d64843;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 min-width: 120px;
 border-radius: 5px;
 outline: 0;

}

.ghost-button-avaliable {
 color: #fff;
 text-shadow: 0 0.5px 0 #555555;
 background: #5cb85c;
 border: 1px solid #4cae4c;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 min-width: 120px;
 border-radius: 5px;
}

.ghost-button-pair {
 color: #fff;
 text-shadow: 0 0.5px 0 #555555;
 background: #03719C;
 border: 1px solid #03719C;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 min-width: 120px;
 border-radius: 5px;
}

.ghost-button-selected {
color: #fff;
text-shadow: 0 0.5px 0 #555555;
background: #555555;
border: 1px solid #555555;
font-size: 17px;
padding: 7px 12px;
font-weight: normal;
margin: 6px 0;
margin-right: 12px;
display: inline-block;
text-decoration: none;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
min-width: 120px;
border-radius: 5px;
}

.btn {
 min-width: 120px !important;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.responsive-width {
font-size: 0.8vw;
margin-right: 10px;
margin-top: 10px;
}

.connected{
background-color: #4CAF50;
color: white;
}    

.disconnected{
background-color: #ac2925;
color: white;
}

.break{
background-color: #f0ad4e;
color: white;
}

.connectedpair{
background-color: #03719C;
color: white;
}

.selected {
color: white;
background-color: #555555;
border-color: #ccc;
}

.jumbotron {
margin-bottom: 0px !important;
padding-top: 25px !important;
padding-bottom: 20px !important;
background-color: #fff !important;
}

.header-line {
    border-top: 3px solid #f42424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1090px;
    z-index: 1050;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    box-sizing: border-box;
}

.navbar {
    margin-bottom: 0px !important;
}

.removehover {
    text-decoration:none !important;
    cursor: default;
}