<!-- BEGIN FLEX-CONTAINER -->
<div class="flex-container">
  <!-- BEGIN FLEX-ITEM -->
  <div class="flex-item">
    <!-- BEGIN TABLE-CONTAINER  -->
    <div class="table-container">
      <input class="fliter" type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...'
        (keyup)='updateFilter($event)' />
      <ngx-datatable #table class="material shadow" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
        
        
        <!-- BEGIN DATE COLUMN  -->
        <ngx-datatable-column name="Date">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="red"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{value}}</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- END DATE COLUMN -->
        
        
        <!-- BEGIN TIME COLUMN  -->
        <ngx-datatable-column name="Time">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="red"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{value}}</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- END TIME COLUMN -->
        
        
        <!-- BEGIN TYPE COLUMN -->
        <ngx-datatable-column name="User">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="orange"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{value}}</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- END TYPE COLUMN -->
        
        
        <!-- BEGIN STATUS COLUMN -->
        <ngx-datatable-column name="Status">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="green"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{value}}</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- END STATUS COLUMN -->
        
        
        <!-- BEGIN EAST PORT COLUMN -->
        <ngx-datatable-column name="East">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="blue"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{value}}</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- END EAST PORT COLUMN -->
        
        
        <!-- BEGIN WEST PORT COLUMN -->
        <ngx-datatable-column name="West">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="blue"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div>{{value}}</div>
          </ng-template>
        </ngx-datatable-column>
        <!-- END WEST PORT COLUMN -->
        
        
        <!-- BEGIN SEVERITY COLUMN -->
        <ngx-datatable-column name="RobotStatus">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="green"> {{column.name}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <!-- OLD VERSION -->
            <!-- <div *ngIf="value.status !== 'Pending'"> -->
            <!-- NEW VERSION -->
            <div *ngIf="value.status">{{value.status}}&nbsp;&nbsp;
              <button md-raised-button id="Continue" class="button-width" color="primary" *ngIf="value.status == 'Pending' || value.status == 'Break' || value.status == 'Started'"
                (click)="cancelTask(value.id)">Cancel</button>
            </div>
            <!-- <div class="flex-container"> -->
            <!-- REMOVE PENDING BUTTON -->
            <!-- <button md-raised-button id="Continue" class="button-width button-red" color="primary" *ngIf="value.status == 'Pending'" (click)="pending(value.id)">Continue</button> -->
            <!-- </div> -->
          </ng-template>
        </ngx-datatable-column>
        <!-- END SEVERITY COLUMN -->
      
      
      </ngx-datatable>
      <!-- END TABLE -->
    </div>
    <!-- END SEARCH FILTER -->
  </div>
  <!-- END FLEX-ITEM -->
</div>
<!-- END FLEX-CONTAINER -->


<!-- BEGIN FLEX-CONTAINER -->
<div class="flex-container">
  <!-- BEGIN FLEX-FOOTER -->
  <div class="flex-fix-padding" align="center">
    <button md-raised-button id="save" class="button-width" color="primary" (click)="saveData()" type="button">Save</button>
  </div>
  <!-- END FLEX-FOOTER -->
</div>
<!-- END FLEX-CONTAINER -->
