<!-- BEGIN MAIN-CONTAINER -->
<div class="main-container">
  <!-- BEGIN TAB-GROUP -->
  <md-tab-group>
    <!-- BEGIN CONNECTION-TAB -->
    <md-tab label="Connection">
      <md-expansion-panel>
        <md-expansion-panel-header>
          <md-panel-title>
            Create connection in database
          </md-panel-title>
          <md-panel-description>
            Type East port and West port
          </md-panel-description>
        </md-expansion-panel-header>

        <md-form-field>
          <input mdInput id="east_port_input" placeholder="East port" value="east_port_number" [(ngModel)]="east_port_number" minlength="1" maxlength="3" pattern="[0-9]{1,3}">
        </md-form-field>

        <md-form-field>
          <input mdInput id="west_port_input" placeholder="West port" value="west_port_number" [(ngModel)]="west_port_number" minlength="1" maxlength="3" pattern="[0-9]{1,3}">
        </md-form-field>

        <md-action-row>
          <button md-button color="primary" (click)="create_connection()">Send Data</button>
        </md-action-row>
      </md-expansion-panel>
    </md-tab>
    <!-- END CONNECTION-TAB -->
    <!-- BEGIN SOME FUNCTION -->
    <md-tab label="Some function in future">Some test function</md-tab>
    <!-- END SOME FUNCTION -->
  </md-tab-group>
  <!-- END TAB-GROUP -->
</div>
<!-- END MAIN-CONTAINER -->